* {
  font-family: 'Indie Flower', cursive;
}

h1 {
  text-align: center;
}

button {
  font-size: large;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

body {
  text-align: center;
}


.container {
  display: flex;
  flex-wrap: wrap;
  width: 1225px;
  border: 1px solid;
  margin-left: auto;
  margin-right: auto;
}

